<%= tag.div(flash[:alert], class: "flash severe") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash success") if flash[:notice] %>

<%= form_with url: session_path, local: true do |form| %>
  <h2 class="centered"><%= t("auth.signin") %></h2>
  <div class="my-1">
    <%= form.label t("auth.email") %>
    <%= form.email_field :email_address,
                     required: true,
                     autofocus: true,
                     autocomplete: "username",
                     placeholder: "mini@irawo.com",
                     value: params[:email_address] %>
  </div>
  <div class="my-1">
    <%= form.label t("auth.password") %>
    <%= form.password_field :password,
                        required: true,
                        autocomplete: "current-password",
                        placeholder: "it is a secret...",
                        maxlength: 72 %>

  </div>
  <div class="my-.5">
    <%= link_to t("auth.forgot_password"), new_password_path, class: "smaller" %>
  </div>
  <div class="my-1">
    <%= form.submit t("auth.signin") %>
  </div>
  <!-- TODO: Add signup link --> <!--
  <div class="flex column align-center">
    <div class="smaller my-.25">
      <%= t("misc.or") %>
    </div>
    <%= link_to t("auth.signup"), new_password_path, class: "small" %>
  </div>
  -->
<% end %>
