<%= tag.div(flash[:alert], class: "flash severe") if flash[:alert] %>

<%= form_with url: passwords_path, local:true do |form| %>
  <h2>Forgot your password?</h2>
  <%= form.label t("auth.email") %>
  <%= form.email_field :email_address,
                   required: true,
                   autofocus: true,
                   autocomplete: "username",
                   placeholder: "mini@irawo.com",
                   value: params[:email_address] %><br>
  <%= form.submit t("auth.reset") %>
<% end %>
