<%= tag.div(flash[:alert], class: "flash severe") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash success") if flash[:notice] %>

<h2 class="mt-1.5"><%= t("models.resources") %></h2>
<!-- Adapted from https://codepen.io/wikyware-net/pen/dyKPRxQ -->
<%= render "filter" %>
<div class="resources-container">
  <%= render @resources %>
</div>
