<%= tag.div(flash[:alert], class: "flash severe") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash success") if flash[:notice] %>

<h2><%= @resource.name %></h2>
<% if staff? %>
  <div class="my-.5">
    <%= link_to t("resources.edit"), edit_admin_resource_path(@resource) %>

    <%= link_to t("resources.destroy.label"),
    admin_resource_path(@resource),
    data: {
      turbo_method: :delete,
      turbo_confirm: t("resources.destroy.confirm"),
    } %>
  </div>
<% end %>
<picture>
  <!-- Small screens (mobile) -->
  <source
    media="(max-width: 600px)"
    srcset="<%= url_for  @resource.image.variant(:mobile) %>"
  >
  <!-- Medium screens (tablet) -->
  <source
    media="(max-width: 1024px)"
    srcset="<%= url_for  @resource.image.variant(:tablet) %>"
  >
  <!-- Standard desktop screens (up to 1920px) -->
  <source
    media="(max-width: 1920px)"
    srcset="<%= url_for  @resource.image.variant(:desktop) %>"
  >
  <!-- Default (original image) -->
  <%= image_tag @resource.image, style: "width: 100%; max-width: 100%; height: auto;" %>
</picture>
<% if !staff? %>
  <%= render "orders/form", order: @order %>
<% end %>
<div class="my-2">
  <h3>Description</h3>
  <% @resource.description.split("\n").each do |par| %>
    <p><%= par %></p>
  <% end %>
</div>
<div>
  <h3><%= t("resources.similar") %></h3>

  <div class="resources-container">
    <%= render Resource
      .order(created_at: :desc)
      .where(category: @resource.category)
      .where.not(id: @resource.id)
      .limit(3) %>
  </div>
  <%= link_to t("resources.view_all"), root_path, class: "ml-1" %>
</div>
