<h2><%= @resource.name %></h2>
<% if staff? %>
  <div class="my-.5">
    <%= link_to t("resources.edit"), edit_admin_resource_path(@resource) %>

    <%= link_to t("resources.destroy.label"),
    admin_resource_path(@resource),
    data: {
      turbo_method: :delete,
      turbo_confirm: t("resources.destroy.confirm"),
    } %>
  </div>
<% end %>
<%= image_tag @resource.image, style: "width: 100%; max-height: 100%; height: auto;" %>
<%= render "orders/form", resource: @resource %>
<div class="my-2">
  <h3>Description</h3>
  <% @resource.description.split("\n").each do |line| %>
    <p><%= line %></p>
  <% end %>
</div>
<div>
  <h3><%= t("resources.similar") %></h3>

  <div class="resources-container">
    <%= render Resource
      .order(created_at: :desc)
      .where(category: @resource.category)
      .where.not(id: @resource.id)
      .limit(3) %>
    <%= link_to t("resources.view_all"), root_path, class: "ml-1" %>
  </div>
</div>
